@import './tokens';
@import './reset';
@import './typography';

body {
  background: var(--color-bg);
  color: var(--color-text-primary);
}

#root {
  min-height: 100vh;
}

.za {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__main {
    flex: 1;
  }
}